<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsersLoggedIn</servlet-name>
        <servlet-class>GlobalKinetic.UsersLoggedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>GlobalKinetic.UserData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersLoggedIn</servlet-name>
        <url-pattern>/UsersLoggedIn</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>config</param-name>
        <param-value>config/config.properties</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>1234</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/GlobalKineticTest</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
</web-app>
